{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<br />
    <div class="d-flex justify-content-center">
        <h1>Adding a Publisher</h1>
    </div>
<br />

<div class="container d-flex justify-content-center" >
    <div class="col-md-4" style="border:1px solid #cecece; padding:40px 20px 40px 20px;">
        {{ errorMessage }}
      <form action="#" method="get">
        <div class="form-group">
          <input type="text" class="form-control" name="publisherName" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="publisherHeadquarter" placeholder="Headquarter">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="publisherFullAddress" placeholder="Full Address">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="publisherEstablishedYear" placeholder="Established Year">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}
