{% extends 'layout.html' %}

{% block title %} Lendings {% endblock %}

{% block body %}

<br />
    <div class="d-flex justify-content-center">
        <h1>List of Sellings</h1>
    </div>
<br />

<div class="container">
	<div class="d-flex justify-content-end">
		<a href="/sellings/add"><span type="button" class="btn btn-primary">Add Selling</span></a>
	</div>
	<br />
	<table id="example" class="display table table-bordered table-sm" style="width:100%">
	  <thead>
	      <tr>
	          <th>Date Sold</th>
	          <th>Time Sold</th>
	          <th>bookId</th>
	          <th>Book Image</th>
	          <th>Book Title</th>
	          <th>Employee Name</th>
	          <th>Customer Name</th>
	          <th>Charge</th>
	      </tr>
	  </thead>
	  <tbody>
	    {% for selling in sellings %}
	      <tr>
	        <td>{{selling["dateSold"]}}</td>
	        <td>{{selling["timeSold"]}}</td>
	        <td>{{selling["bookId"]}}</td>
	        <td><img src="/static/books/{{selling.bookPicture if selling.bookPicture else 'default.png'}}" alt="" class="picture3"></td>
	        <td>{{selling["bookTitle"]}}</td>
	        <td>{{selling["employeeName"]}}</td>
	        <td>{{selling["customerName"]}}</td>
	        <td>Rp {{'{:,.0f}'.format(selling["bookSellPrice"])}}</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>

{% endblock %}

{% block js %}

  <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
  </script>

{% endblock %}